.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: 200px;
  height: auto;
  background-color: springgreen;
  border-radius: 5px;
  font-size: x-large;
}
button:hover {
  cursor: pointer;
  background-color: chartreuse;
}
